@import "src/styles/theme";

.wrapper {
  height: 100%;
  background-color: #f5f5f5;

  .page {
    @extend %d-grid;
    grid-template-rows: px2em(60) auto;

    .title {
      @extend %d-flex-start;
      height: 100%;
      margin-left: 4.5%;
      font: {
        family: $base-regular-font;
        size: px2em(28);
        weight: 300;
      }

      span {
        margin-left: px2em(5);
      }
    }

    .main {
      @extend %d-grid;
      grid-template-columns: 2fr 9fr 2fr;
      grid-column-gap: $lg-screen-gutter;

      .left-block {

      }

      .center-block {
        @extend %d-grid;
        grid-template-rows: px2em(250) auto;

        .center-block-title {
          padding-left: px2em(30);
          @extend %d-flex-between;

          span {
            color: #2979ff;
            cursor: pointer;
            margin-right: px2em(25);
          }
        }

        .center-block_row {
          overflow: scroll;

          .cards-block {
            display: flex;
            flex-wrap: wrap;
          }
        }

        .center-block_columns {
          @extend %d-grid;
          grid-template-columns: 5fr 7fr;

          .center-block_left {
            padding: px2em(30);
          }

          .center-block_right {
            padding: px2em(30);
          }

        }
      }

      .right-block {
        @extend %d-grid;
        grid-template-rows: px2em(20) auto;
        @extend %d-flex-line-center;

        span {
          @extend %d-flex-line-center;
        }
      }
    }
  }
}
