<div class="wrapper">
  <div class="page">
    <div class="title">
      <svg-icon width="18" height="18" [name]="homeIcon"></svg-icon>
      <span>{{title}}</span>
    </div>
    <div class="main">
      <div class="left-block">
        <circle-profile></circle-profile>
        <circle-completed></circle-completed>
      </div>
      <div class="center-block">
        <div class="center-block_row">
          <div class="center-block-title">
            <h3>Skills cards ({{cards.length}})</h3>
            <span>View all</span>
          </div>
          <div class="cards-block">
            <card-skills *ngFor="let card of cards" [card]="card"></card-skills>
          </div>
        </div>
        <div class="center-block_columns">
          <div class="center-block_left">
            <span>Roles</span>
            <roles-eligible></roles-eligible>
          </div>
          <div class="center-block_right">
            <span>Posts</span>
            <posts-lib-posts *ngFor="let post of posts" [posts]="post" (deleteHandler)="deletePost($event)"></posts-lib-posts>
          </div>
        </div>
      </div>
      <div class="right-block">
        <span>Badges ({{badges.length}})</span>
        <mylib-lib-badges></mylib-lib-badges>
      </div>
    </div>
  </div>
</div>
