@import 'src/styles/theme';

.wrapper {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  margin-top: px2em(10);
  border-radius: 5px;

  .container {
    @extend %d-grid;
    grid-template-columns: 1fr 11fr;
    padding-right: px2em(10);

    .left-block {
      margin-left: px2em(20);
      @extend %d-flex-start;
      span{

      }
      .circle {
        @extend %d-flex-center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fdecf5;
      }
    }

    .right-block {
      @extend %d-flex-between;

      span {
        margin-left: px2em(20);
        overflow: hidden;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

