<div
  class="container"
  [ngStyle]="{
  width: data.type == 'delete' ? '350px' : '500px',
  height: data.type == 'delete' ? '150px' : '500px'
  }"
>
  <div [ngSwitch]="data.type" mat-dialog-title class="header">
    <h1 *ngSwitchCase="'add'">Create post</h1>
    <h1 *ngSwitchCase="'delete'">Are you sure, you want to delete this post "{{data.post.title}}" ?</h1>
    <h1 *ngSwitchCase="'edit'">Edit post</h1>
    <svg-icon class="close" [name]="close" [mat-dialog-close]="false"></svg-icon>
  </div>
  <div [ngSwitch]="data.type">
    <div class="main" *ngSwitchCase="'add'">
      <div mat-dialog-content>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Enter name of post</mat-label>
          <input matInput [(ngModel)]="title">
        </mat-form-field>
      </div>
      <textarea class="text" placeholder="Enter text of post" [(ngModel)]="text"></textarea>
    </div>
    <div class="main" *ngSwitchCase="'edit'">
      <div mat-dialog-content>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Enter name of post</mat-label>
          <input matInput [(ngModel)]="titleEdit">
        </mat-form-field>
      </div>
      <textarea class="text" placeholder="Enter text of post" [(ngModel)]="textEdit"></textarea>
    </div>
  </div>
</div>
<mat-dialog-actions [ngSwitch]="data.type" align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button *ngSwitchCase="'add'" mat-button [mat-dialog-close]="false" (click)="addPost()">Apply</button>
  <button *ngSwitchCase="'delete'" mat-button [mat-dialog-close]="false" (click)="deletePost()">Delete</button>
  <button *ngSwitchCase="'edit'" mat-button [mat-dialog-close]="false" (click)="editPost()">Edit</button>
</mat-dialog-actions>
