@import "src/styles/theme";

.container {
  @extend %d-grid;
  grid-template-rows: px2em(60) auto;
  width: px2em(500);
  height: px2em(500);

  .header {
    @extend %d-flex-line-between;
    .close {
      cursor: pointer;
    }
  }
  .main{
    height: 90%;
    .input{
      width: 100%;
      height: 10%;
    }
    textarea{
      width: 100%;
      height: 90%;
    }
  }

  .footer {

  }

}
